/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif; /* Use a modern and popular font like Roboto */
    line-height: 1.6;
    background-color: #f8f8f8; /* A lighter background color for a modern feel */
    color: #333;
    padding: 20px;
}

header {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
}

header p {
    margin-top: 10px;
}

header h1 {
    margin-bottom: 10px; 
}

nav ul {
    list-style-type: none;
    background-color: #444;
    overflow: hidden;
    text-align: center; /* Center the inline-block children */
}

nav ul li {
    display: inline-block; /* Make the list items display in a line */
    margin-right: 20px; /* Space between each item */
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s; /* Smooth color transition on hover */
}

/* Change color on hover */
nav ul li a:hover {
    color: #66cdaa; /* A vibrant color on hover */
}

#club-logo {
    max-width: 80px;  
    margin-right: 20px; 
    margin-left: 10px;
    margin-top: -7px;
    float: left;
}
header h1, header p {
    
}

.cta-button {
    float: right; /* Float the button to the right */
    padding: 10px 20px;
    background-color: #7289da; /* Discord color */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1.5rem; /* Adjust this value to align it vertically as per your requirements */
    margin-right: 15px; /* Give it a bit of space from the right edge */
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #586c94; /* A darker shade for hover */
}

.project img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%; /* Allow images to take full width of their container */
    height: auto;
    border-radius: 5px; /* Add rounded corners to images */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to images */
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; /* Add rounded corners to the content */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Add a shadow to the content */
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}

/* Clear floats */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
