/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif; /* This is a web-safe font. You can replace with Google Fonts or others if you prefer */
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}

header p {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    background-color: #444;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change color on hover */
nav ul li a:hover {
    background-color: #555;
}

.project img {
    display: block;
    margin: 0 auto 20px; /* 20px bottom margin to give some space between the image and the text below */
    max-width: 80%; /* makes the image no wider than 80% of its container. Adjust as needed */
    height: auto; /* maintains the aspect ratio */
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
