/* Navigation Bar Styles */
.navBar {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 25%;
  text-align: center;
}

/* List Styles within Navbar */
.navBar ul {
  color: grey;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inherit;
  flex-direction: inherit;
  gap: 2rem;
  font-size: 150%;
}

/* Link Styles within Navbar */
.navBar a {
  color: inherit;
  text-decoration: none;
  display: inherit;
  align-items: center;
  justify-content: center;
  padding: .25rem;
}

/* Active List Item Styles */
.navBar li.active {
  background-color: lightgray;
  border-radius: 50px;
  transition: background-color 1s ease;
  color: black;
}

/* Hover Effect for List Items */
.navBar li:hover {
  color: white;
}

/* Call-to-Action Button Styles */
.cta-button {
  font-size: x-large;
  background-color: #7289DA;
  font-weight: bold;
  margin-top: 5%;
}

/* Media Queries */

@media (orientation: landscape) and (max-height: 500px){
  
  .navBar ul {
    gap: 0;
    padding: 0;
  }
  .navBar a {
    padding: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .navBar ul {
    font-size: 90%;
  }
  .cta-button {
    font-size: large;
    font-weight: bold;
  }
}

@media only screen and (max-width: 800px) {
  .navBar{
    font-size: 70%;
  }
  .navBar ul {
    margin: 10%;
  }

  .cta-button {
    font-size: x-small;
    font-weight: bold;
    margin-top: 5%;
  }
}


@media only screen and (max-width: 400px) {
  .navBar{
    font-size: 50%;
  }
  .navBar ul {
    margin: 10%;
  }

  .cta-button {
    font-size: xx-small;
    font-weight: bold;
    margin-top: 5%;
  }
}